.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}

.scroll-stack-inner {
  padding: 20vh 2rem 30vh; 
  min-height: 200vh; 
}

.scroll-stack-card {
  width: 100%;
  height: 18rem; 
  margin-bottom: 60px; 
  padding: 2.2rem;
  border-radius: 32px;
  box-sizing: border-box;

  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
.scroll-stack-scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-stack-scroller {
  scrollbar-width: none;
}

.scroll-stack-scroller {
  -ms-overflow-style: none;
}
